<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} WikiStack {% endblock %}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
<!-- START OF NAVBAR -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand text-muted" href="/">WikiStack</a>
      </div>
      <div class="collapse navbar-collapse navbar-left">
        <ul class="nav navbar-nav">
          <li><a href="/add">ADD PAGE</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!-- END OF NAVBAR -->

  <div class="container-fluid">
    <header>
      <h1>ADD A PAGE</h1>
      <hr>
    </header>

    <section>
      <form action="/add/submit" method="post">
        <div class="form-group">
          <label for="addTitle">PAGE TITLE</label>
          <input name="title" type="text" class="form-control" id="addTitle">
        </div>
        <div class="form-group">
          <label for="addContent">PAGE CONTENT</label>
          <textarea name="body" class="form-control" rows="10" id="addContent"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </section>
  </div>


    <footer class="container-fluid">
      <hr>
      WikiStack, Fullstack Academy
    </footer>
  </body>
</html>