{% extends "layout.html" %}

{% block content %}

  <div class="container-fluid">
    <header>
      <h1>EDIT A PAGE</h1>
      <hr>
    </header>

    <section>
      <form action="/submitEdit" method="post">
        <div class="form-group">
          <label for="editTitle">PAGE TITLE</label>
          <input name="title" type="text" class="form-control" id="editTitle" value="{{doc.title}}">
        </div>
        <div class="form-group">
          <label for="editContent">PAGE CONTENT</label>
          <textarea name="body" class="form-control" rows="10" id="editContent" value="{{doc.body}}"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </section>
  </div>

{% endblock %}
