<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} WikiStack {% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
<!-- START OF NAVBAR -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand text-muted" href="/">WikiStack</a>
      </div>
      <div class="collapse navbar-collapse navbar-left">
        <ul class="nav navbar-nav">
          <li><a href="/add">ADD PAGE</a></li>
        </ul>
      </div>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Search...">
        </div>
      </form>
    </div>
  </nav>
<!-- END OF NAVBAR -->

  <div class="container-fluid">
<header>
  <h1>BROWSE MY WIKISTACK</h1>
  <hr>
</header>

<!-- START ROW 1 -->
  <div class="row">

    <!-- START SIDEBAR -->
    <div class="col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Fullstack Home</a></li>
        <li><a href="#">About Me</a></li>
        <li><a href="#">My Projects</a></li>
        <li><a href="#">My City</a></li>
        <li><a href="#">Code I've Written</a></li>
      </ul>
    </div>
    <!-- END SIDEBAR -->


<!-- ******* Page Content ********** -->

    {% block content %}{% endblock %}

<!-- ******* End Page Content ********** -->


    </div> <!-- end row 1 -->
    <footer class="container-fluid">
      <hr>
      WikiStack, Fullstack Academy
    </footer>
  </body>
</html>